= form_for(new_task) do |form|
  .row-fluid
    .span12
      - if new_task.errors.any?
        = render 'common/errors', record: new_task
  .row-fluid
    .span6
      = form.text_field :title, class: 'span12', id: "#{namespace}_title"
    .span6
      = form.submit 'Add Task', class: 'btn btn-success btn-block'
