.row-fluid
  = form_for(task, method: :delete, html: { id: 'delete-form' }) do
    %h2#task{ class: task_classes(task) }
      %i.fa.fa-times#delete-task{ title: 'delete task' }
      %span.title{ title: "skip count: #{task.skip_count}" }= task.title
      - if task.repeat?
        %i.fa.fa-repeat
      %i.fa.fa-arrow-down#edit-task{ title: 'edit task' }
.row-fluid#buttons
  .span6
    .row-fluid
      = react_component('Questlog.DoneButton', id: @task.id)
  .span6
    .row-fluid
      = form_for(task) do |form|
        #postpone.btn.btn-info.btn-large.btn-block
          = form.label :postpone, 'Postpone for:'
          = react_component('Questlog.PostponeSelect')
%hr
