- if current_user.tags.any?
  = render 'tags/choose', tags: @tags, task: @task
- if @task
  - content_for :title, "Task: #{@task.title}"
  = react_component('Questlog.TaskView', task: @task)
  = react_component('Questlog.MainButtons', task: @task)
  %hr
  #edit-form
    = react_component('Questlog.EditTaskForm', task: @task)
- else
  - content_for :title, '(no tasks!)'

#new-form
  = react_component('Questlog.NewTaskForm', task: @new_task)

%p
  = link_to('All my tasks', tasks_path)
  |
  = link_to('Add multiple tasks', new_bulk_task_path)
  |
  = render 'help_modal'
  %br
  Try adding a tag using '#', for example: <strong>#at-home</strong>. Click
  = link_to 'Help', '#tips-modal', data: { toggle: 'modal' }
  for more.
