= render 'contexts/choose', contexts: @contexts
- if @quickie
  = render @quickie
  #edit-form
    = render 'quickies/form', quickie: @quickie, namespace: 'edit'
#new-form
  = render 'quickies/form', quickie: @new_quickie, namespace: 'new'
= render 'contexts/form', context: @context
