= form_for @account, html: { class: 'sign-up-form' } do |form|
  %h1 Sign Up
  - if @account.errors.any?
    = render 'common/errors', record: @account

  %p
    = form.label :email
    %br
    = form.text_field :email
  %p
    = form.label :password
    %br
    = form.password_field :password
  %p
    = form.label :password_confirmation
    %br
    = form.password_field :password_confirmation
  %p.button
    = form.submit 'Create free account!'
