!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/

  %body
    .container
      .row
        .col-md-12.navbar
          %h1#tasks= link_to('QUESTLOG', root_path)

          #user-nav
            - if current_user.guest?
              You're not logged in! In order to save your tasks you'll
              need to
              = link_to "Sign up", new_free_account_path
              or
              = link_to "Log in", new_session_path
            - else
              Logged in as #{current_user.email}
              = link_to "Log out", session_path, method: :delete
      .row
        #flashes.col-md-12
          - flash.each do |name, msg|
            = content_tag :div, msg, class: "flash-#{name}"

      .row
        .col-md-12
          = yield

    = mail_to('lobati.fricha@gmail.com', 'Feedback')
